@import "./mixins.scss";

.container {
  @include flexBox(space-between, row);
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #f6f6f6;
  box-shadow: 2px 0px 11px 2px rgba(0, 0, 0, 0.3);
  .logo {
    @include flexBox(space-between, row);
    .img {
      max-width: 7.5rem;
      margin-right: 1rem;
    }
    .link {
      @include Rregular;
      margin-right: 1rem;
    }
  }
  .search {
    position: relative;
    .searchbox {
      margin: 0 auto;
      width: 25rem;
      padding: 0.3rem;
      border-radius: 1rem;
      text-align: center;
      transform: translateX(-20%);
    }
    .searchResults {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #dadada;
      z-index: 2;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transform: translate(-20%,10%);
      height: 20rem;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1rem;
    }
  }
  .links {
    @include flexBox(space-between, row);
    .language {
      @include Rregular;
    }
    .profile {
      @include Rbold;
      margin-left: 1rem;
    }
  }
}


.searchResBar {
  @include flexBox(flex-start,row);
  align-items: baseline;
  padding: 0.3rem;
  .searchImg {
    max-width: 3rem;
  }
  .searchResTxt {
    @include Rregular;
    margin-left: 0.3rem;
    color: #272727;
  }
}